<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.itungin.itung_in">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tampilperhari.TampilPerHari"></activity>
        <activity android:name=".tampil.Tampil" />
        <activity android:name=".tambah.Tambah" />
        <activity android:name=".Profile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".register.register" />
        <activity android:name=".login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>